$red: #FA8072;
$green: #27AE60;
$darkGrey: #424949; 
$purple: #8E44AD ;
$blue : #2471A3 ;
$orange : #DC7633 ;
$aqua :rgba(22, 172, 201, 0.65);
$black : rgb(36, 40, 47);
$blackLight : rgb(48, 53, 61);
$white: #fff;


$colors: (
  "red": $red,
  "green": $green,
  "dark_grey" : $darkGrey,
  "purple" : $purple,
  "blue" : $blue,
  "orange" : $orange,
  "aqua" : $aqua,
  "black" : $black,
  "blackLight" : $blackLight,
  "white": $white,
);

@each $color, $value in $colors {
  .app_color_#{$color} {
    color: $value;
  }
  .app_background_#{$color} {
    background: $value;
  }
}
